/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
  box-sizing: border-box;
}
html {
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #2F2724;
  background-color: #F4F0EC;
}
body {
  margin: 0;
  overflow-x: hidden;
}
#logo-lines {
  height:100px;
  width:500px;
  background:
    linear-gradient(90deg, #F4F0EC 0, #F4F0EC 3px, transparent 3px), 
    repeating-linear-gradient(
      90deg, 
      #2F2724 0, #2F2724 5px, #F4F0EC 5px, #F4F0EC calc(100% / 50)
    ) 0 no-repeat;
  position: absolute;
  top: 200px;
  left: calc(25vw - 525px);
}
main {
  width: 50vw;
  margin: 200px auto 50px;
}
header {
  height: 100px;
}
#logo {
  height: 100px;
  fill: #2F2724;
}
#mark {
  display: none;
}
section {
  margin: 50px 0;
}
p.cta {
  font-style: italic;
}
footer h2 {
  margin-bottom: 5px;
}
footer p {
  margin-top: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flow-root;
}
li {
  margin: 7px 0;
}
.float li {
  float: left;
}
.float li:nth-child(2) {

}
.float li:nth-child(2):before, .float li:nth-child(2):after {
  content: "//";
  margin: 0 5px;
}
/*.float li:nth-child(2):before {
  content: "//";
  margin: 0 5px;
}*/
.intro {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
}
.map {
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 5px;
}
a, a:link, a:visited {
  text-decoration: none;
  color: #2F2724;
  border-bottom: 1px solid #2F2724;
  transition: all .5s ease;
}
a:hover, a:active {
  border-bottom: 1px solid #FF6030;
}
a {line-height: 1.6rem}

.arrow {
/*  font-weight: 900;*/
  position: relative;
  top: 1px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 1800px) {
  #logo-lines {
    width:3000px;
    background:
      linear-gradient(90deg, #F4F0EC 0, #F4F0EC 3px, transparent 3px), 
      repeating-linear-gradient(
        90deg, 
        #2F2724 0, #2F2724 5px, #F4F0EC 5px, #F4F0EC calc(100% / 300)
      ) 0 no-repeat;
    position: absolute;
    top: 200px;
    left: calc(((100vw - 900px) / 2) - 3025px);
  }
  main {
    width: 900px;
  }
}
@media only screen and (max-width: 1400px) {
  #logo-lines {
    top: 150px;
    left: calc(17.5vw - 525px);
  }
  main {
    width: 65vw;
    margin: 150px auto 50px;
  }
}
@media only screen and (max-width: 1100px) {
  #logo-lines {
    top: 100px;
    left: calc(17.5vw - 525px);
  }
  main {
    width: 65vw;
    margin: 100px auto 50px;
  }
}
@media only screen and (max-width: 700px) {
  #logo {
    display: none;
  }
  #mark {
    display: block;
/*    fill: #FF6030;*/
    fill: #FF1919;
    height: 100px;
  }
  #logo-lines {
    display: none;
  }
  main {
    width: 75vw;
    margin: 0 auto 25px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .float li {
    float: none;
    margin: 0 0 10px;
  }
  .float li:nth-child(2) {
  }
  .float li:nth-child(2):before, .float li:nth-child(2):after {
    content: "";
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  #logo {
    display: none;
  }
  #mark {
    display: block;
    max-height: 100px;
  }
  main {
    width: 90vw;
    margin: 0px auto 25px;
  }
  section {
    margin: 25px 0;
  }
  .intro {
    font-size: 1.5rem;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

